# Caso de Uso - Clasificación de Crímenes

In [2]:
import pandas as pd

crimes = pd.read_csv("datasets/crime.csv")

crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811663 entries, 0 to 811662
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           811663 non-null  int64
 1   Date Rptd       811663 non-null  object
 2   DATE OCC        811663 non-null  object
 3   TIME OCC        811663 non-null  int64
 4   AREA            811663 non-null  int64
 5   AREA NAME       811663 non-null  object
 6   Rpt Dist No     811663 non-null  int64
 7   Part 1-2        811663 non-null  int64
 8   Crm Cd          811663 non-null  int64
 9   Crm Cd Desc     811663 non-null  object
 10  Mocodes         699639 non-null  object
 11  Vict Age        811663 non-null  int64
 12  Vict Sex        705139 non-null  object
 13  Vict Descent    705131 non-null  object
 14  Premis Cd       811654 non-null  float64
 15  Premis Desc     811184 non-null  object
 16  Weapon Used Cd  282783 non-null  float64
 17  Weapon Desc     282783 non-null  object
 18  Status          811663 non-null  object
 19  Status Desc     811663 non-null  object
 20  Crm Cd 1        811653 non-null  float64
 21  Crm Cd 2        59815 non-null   float64
 22  Crm Cd 3        2000 non-null    float64
 23  Crm Cd 4        60 non-null      float64
 24  LOCATION        811663 non-null  object
 25  Cross Street    129872 non-null  object
 26  LAT             811663 non-null  float64
 27  LON             811663 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 173.4+ MB

In [3]:
def time_occ_to_horario(time_occ):
    if f"{time_occ}" == "nan":
        return None
    if time_occ >= 0 and time_occ <= 600:
        return 1
    elif time_occ > 600 and time_occ <= 1_800:
        return 2
    else:
        return 3

crimes["1_HORARIO"] = crimes["TIME OCC"].map(time_occ_to_horario)

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,1_HORARIO
235824,210118304,10/08/2021 12:00:00 AM,10/03/2021 12:00:00 AM,2100,1,Central,135,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,300 S MAIN ST,NaN,34.0481,-118.2472,3
380643,211301019,09/17/2021 12:00:00 AM,09/15/2021 12:00:00 AM,1730,13,Newton,1383,1,235,CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT,...,Adult Other,235.0,NaN,NaN,NaN,100 W 61ST ST,NaN,33.9842,-118.2739,2
664379,231811165,05/29/2023 12:00:00 AM,05/25/2023 12:00:00 AM,2030,18,Southeast,1881,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,800 W REDONDO BEACH BL,NaN,33.8925,-118.2899,3
711612,231111106,07/14/2023 12:00:00 AM,07/13/2023 12:00:00 AM,1500,11,Northeast,1151,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Adult Arrest,740.0,NaN,NaN,NaN,1500 N MARIPOSA AV,NaN,34.0981,-118.2994,2
245182,211107747,04/19/2021 12:00:00 AM,04/18/2021 12:00:00 AM,2100,11,Northeast,1184,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,1400 MCDUFF ST,NaN,34.0773,-118.2539,3
133763,201226019,12/08/2020 12:00:00 AM,12/08/2020 12:00:00 AM,2215,12,77th Street,1241,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,NaN,NaN,NaN,63RD ST,BRYNHURST AV,33.9829,-118.3338,3
384906,210112596,06/27/2021 12:00:00 AM,06/26/2021 12:00:00 AM,1440,1,Central,142,1,310,BURGLARY,...,Invest Cont,310.0,NaN,NaN,NaN,400 S FIGUEROA ST,NaN,34.0533,-118.2561,2
450720,220310175,05/05/2022 12:00:00 AM,05/05/2022 12:00:00 AM,1455,3,Southwest,379,1,761,BRANDISH WEAPON,...,Invest Cont,761.0,930.0,NaN,NaN,1000 W MARTIN LUTHER KING JR BL,NaN,34.0145,-118.2937,2
558252,221808578,03/04/2022 12:00:00 AM,03/04/2022 12:00:00 AM,310,18,Southeast,1841,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,800 W IMPERIAL HY,NaN,33.9367,-118.2871,1
41899,200613282,07/30/2020 12:00:00 AM,07/25/2020 12:00:00 AM,2000,6,Hollywood,639,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,1700 N SERRANO AV,NaN,34.1017,-118.3072,3

In [4]:
crimes["2_TIPO_CRIMEN"] = crimes["Crm Cd"]

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,1_HORARIO,2_TIPO_CRIMEN
502714,230510248,06/22/2023 12:00:00 AM,07/14/2022 12:00:00 AM,1610,5,Harbor,587,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,740.0,NaN,NaN,NaN,3300 S CAROLINA ST,NaN,33.7143,-118.2907,2,740
231723,212007428,03/29/2021 12:00:00 AM,03/29/2021 12:00:00 AM,1015,20,Olympic,2081,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,1800 ARLINGTON AV,NaN,34.0407,-118.3177,2,624
379817,210911545,07/11/2021 12:00:00 AM,07/11/2021 12:00:00 AM,200,9,Van Nuys,906,1,320,"BURGLARY, ATTEMPTED",...,320.0,NaN,NaN,NaN,7200 CEDAR RD,NaN,34.2012,-118.4407,1,320
198206,231804935,01/17/2023 12:00:00 AM,01/05/2020 12:00:00 AM,900,18,Southeast,1822,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,200 W 93RD ST,NaN,33.9519,-118.2762,2,354
476587,220914972,10/13/2022 12:00:00 AM,07/29/2022 12:00:00 AM,800,9,Van Nuys,905,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,14700 SHERMAN WY,NaN,34.2013,-118.4541,2,354
267601,212016951,11/12/2021 12:00:00 AM,11/11/2021 12:00:00 AM,2130,20,Olympic,2011,2,762,LEWD CONDUCT,...,762.0,932.0,NaN,NaN,100 S ST ANDREWS PL,NaN,34.0725,-118.3153,3,762
168282,201217056,07/24/2020 12:00:00 AM,07/24/2020 12:00:00 AM,930,12,77th Street,1257,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,600 W 77TH ST,NaN,33.9698,-118.2860,2,510
271195,211320203,12/11/2021 12:00:00 AM,12/11/2021 12:00:00 AM,300,13,Newton,1323,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,740.0,NaN,NaN,NaN,2600 GRIFFITH AV,NaN,34.0194,-118.2578,1,740
168647,202014321,09/07/2020 12:00:00 AM,09/07/2020 12:00:00 AM,200,20,Olympic,2004,1,220,ATTEMPTED ROBBERY,...,220.0,NaN,NaN,NaN,SERRANO AV,BEVERLY BL,34.0763,-118.3069,1,220
337976,210906825,03/11/2021 12:00:00 AM,03/10/2021 12:00:00 AM,1600,9,Van Nuys,971,1,330,BURGLARY FROM VEHICLE,...,330.0,NaN,NaN,NaN,4700 N SEPULVEDA BL,NaN,34.1557,-118.4661,2,330

In [5]:
crimes["Vict Sex"].unique()

array(['F', 'M', 'X', nan, 'H', '-'], dtype=object)

In [9]:
crimes["3_VICTIMA_SEXO"] = crimes["Vict Sex"].map({ "F": 1, "M": 2, "H": 3, "X": 4 }).fillna(5)

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,1_HORARIO,2_TIPO_CRIMEN,3_VICTIMA_SEXO,4_VICTIMA_EDAD
779244,230308591,03/30/2023 12:00:00 AM,03/30/2023 12:00:00 AM,2340,3,Southwest,398,2,901,VIOLATION OF RESTRAINING ORDER,...,NaN,NaN,500 W 41ST ST,NaN,34.0097,-118.2827,3,901,1.0,21
400041,212108876,05/14/2021 12:00:00 AM,05/11/2021 12:00:00 AM,1000,21,Topanga,2155,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,6300 GLADE AV,NaN,34.1847,-118.6077,2,341,2.0,28
221989,212107158,03/30/2021 12:00:00 AM,03/28/2021 12:00:00 AM,1330,21,Topanga,2129,2,624,BATTERY - SIMPLE ASSAULT,...,NaN,NaN,19900 ROSCOE BL,NaN,34.2203,-118.5671,2,624,1.0,59
232573,211811562,06/05/2021 12:00:00 AM,06/05/2021 12:00:00 AM,2000,18,Southeast,1863,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,NaN,NaN,11500 AVALON BL,NaN,33.9292,-118.2652,3,230,2.0,48
177269,201214438,06/10/2020 12:00:00 AM,06/09/2020 12:00:00 AM,1230,12,77th Street,1239,1,510,VEHICLE - STOLEN,...,NaN,NaN,1100 W 60TH PL,NaN,33.9850,-118.2937,2,510,5.0,0
365576,210914748,10/01/2021 12:00:00 AM,09/28/2021 12:00:00 AM,1935,9,Van Nuys,904,2,354,THEFT OF IDENTITY,...,NaN,NaN,15100 SHERMAN WY,NaN,34.2013,-118.4659,3,354,2.0,48
413690,221108576,05/01/2022 12:00:00 AM,04/26/2022 12:00:00 AM,1030,11,Northeast,1152,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,NaN,NaN,4200 FOUNTAIN AV,NaN,34.0993,-118.2837,2,440,1.0,31
237071,211809116,04/15/2021 12:00:00 AM,04/15/2021 12:00:00 AM,2140,18,Southeast,1822,2,624,BATTERY - SIMPLE ASSAULT,...,NaN,NaN,100 W 102ND ST,NaN,33.9438,-118.2744,3,624,1.0,52
544252,221715890,11/10/2022 12:00:00 AM,11/09/2022 12:00:00 AM,2200,17,Devonshire,1795,1,510,VEHICLE - STOLEN,...,NaN,NaN,17100 ROSCOE BL,NaN,34.2214,-118.5055,3,510,5.0,0
331968,211909870,06/16/2021 12:00:00 AM,06/15/2021 12:00:00 AM,1550,19,Mission,1963,1,510,VEHICLE - STOLEN,...,NaN,NaN,VAN NUYS BL,PLUMMER ST,34.2427,-118.4502,2,510,5.0,0

In [10]:
def fix_victim_age(age):
    if f"{age}" == "nan":
        import numpy as np
        return np.random.normal(crimes["Vict Age"].mean(), crimes["Vict Age"].std())
    return age

crimes["4_VICTIMA_EDAD"] = crimes["Vict Age"].map(fix_victim_age)

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,1_HORARIO,2_TIPO_CRIMEN,3_VICTIMA_SEXO,4_VICTIMA_EDAD
613340,220911887,07/26/2022 12:00:00 AM,07/23/2022 12:00:00 AM,1600,9,Van Nuys,916,2,888,TRESPASSING,...,NaN,NaN,6900 COLBATH AV,NaN,34.1959,-118.4367,2,888,2.0,51
416316,221320739,11/09/2022 12:00:00 AM,11/01/2022 12:00:00 AM,1053,13,Newton,1351,2,354,THEFT OF IDENTITY,...,NaN,NaN,100 W 43RD ST,NaN,34.0056,-118.2740,2,354,1.0,24
284598,210709360,06/01/2021 12:00:00 AM,06/01/2021 12:00:00 AM,830,7,Wilshire,727,1,480,BIKE - STOLEN,...,NaN,NaN,100 S HIGHLAND AV,NaN,34.0710,-118.3385,2,480,1.0,53
157941,201906641,02/24/2020 12:00:00 AM,02/23/2020 12:00:00 AM,2300,19,Mission,1907,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,13500 HERRON ST,NaN,34.3148,-118.4269,3,626,1.0,48
255944,210214975,09/21/2021 12:00:00 AM,09/17/2021 12:00:00 AM,740,2,Rampart,202,1,210,ROBBERY,...,NaN,NaN,4400 SANTA MONICA BL,NaN,34.0909,-118.2851,2,210,4.0,0
301653,211320701,12/20/2021 12:00:00 AM,12/19/2021 12:00:00 AM,2145,13,Newton,1333,1,330,BURGLARY FROM VEHICLE,...,NaN,NaN,STANFORD AV,E 29TH ST,34.0181,-118.2612,3,330,1.0,35
140523,201704933,01/23/2020 12:00:00 AM,01/22/2020 12:00:00 AM,2100,17,Devonshire,1723,1,310,BURGLARY,...,NaN,NaN,21100 DEVONSHIRE ST,NaN,34.2651,-118.5820,3,310,4.0,0
85932,200917480,11/20/2020 12:00:00 AM,11/19/2020 12:00:00 AM,2315,9,Van Nuys,905,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,NaN,NaN,SATICOY,BURNET,34.2048,-118.4531,3,440,2.0,15
100901,202005464,02/01/2020 12:00:00 AM,02/01/2020 12:00:00 AM,730,20,Olympic,2026,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,400 S BERENDO ST,NaN,34.0674,-118.2941,2,626,1.0,35
379932,210106265,02/19/2021 12:00:00 AM,02/19/2021 12:00:00 AM,15,1,Central,153,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,500 S HILL ST,NaN,34.0486,-118.2519,1,341,1.0,50

In [11]:
crimes.groupby("4_VICTIMA_EDAD")["4_VICTIMA_EDAD"].agg("count")

4_VICTIMA_EDAD
-3           1
-2          12
-1          55
 0      199917
 2         358
         ...
 96         84
 97         61
 98         64
 99        305
 120         1
Name: 4_VICTIMA_EDAD, Length: 103, dtype: int64

In [12]:
def has_weapon(weapon):
    if f"{weapon}" == "nan":
        return 0
    else:
        return 1

crimes["5_HAY_ARMA"] = crimes["Weapon Used Cd"].map(has_weapon)

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 4,LOCATION,Cross Street,LAT,LON,1_HORARIO,2_TIPO_CRIMEN,3_VICTIMA_SEXO,4_VICTIMA_EDAD,5_HAY_ARMA
446780,220708191,04/19/2022 12:00:00 AM,04/19/2022 12:00:00 AM,1330,7,Wilshire,753,1,330,BURGLARY FROM VEHICLE,...,NaN,SAN VICENTE BL,FAIRFAX AV,34.0537,-118.3619,2,330,2.0,26,0
210383,210414961,11/15/2021 12:00:00 AM,11/15/2021 12:00:00 AM,2100,4,Hollenbeck,497,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,NaN,3200 E OLYMPIC BL,NaN,34.0198,-118.2097,3,236,1.0,29,1
797949,231211116,04/30/2023 12:00:00 AM,04/30/2023 12:00:00 AM,1900,12,77th Street,1239,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,NaN,5800 S VERMONT AV,NaN,33.9856,-118.2915,3,440,4.0,0,0
771075,230511590,07/26/2023 12:00:00 AM,07/26/2023 12:00:00 AM,830,5,Harbor,501,1,330,BURGLARY FROM VEHICLE,...,NaN,700 W 182ND ST,NaN,33.8696,-118.2863,2,330,4.0,0,0
594727,220221717,12/14/2022 12:00:00 AM,12/13/2022 12:00:00 AM,600,2,Rampart,245,1,330,BURGLARY FROM VEHICLE,...,NaN,400 S GRAND VIEW ST,NaN,34.0633,-118.2751,1,330,1.0,58,0
633968,220320574,11/21/2022 12:00:00 AM,11/20/2022 12:00:00 AM,2000,3,Southwest,338,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",...,NaN,1000 W 30TH ST,NaN,34.0274,-118.2846,3,522,5.0,0,0
260355,211612629,10/16/2021 12:00:00 AM,10/16/2021 12:00:00 AM,1124,16,Foothill,1669,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,NaN,LA TUNA CANYON,TUJUNGA CANYON,34.2340,-118.2703,2,331,2.0,34,0
40817,200715577,11/02/2020 12:00:00 AM,11/02/2020 12:00:00 AM,1430,7,Wilshire,734,2,901,VIOLATION OF RESTRAINING ORDER,...,NaN,300 HAUSER BL,NaN,34.0693,-118.3510,2,901,1.0,41,0
184680,201605565,02/06/2020 12:00:00 AM,02/01/2020 12:00:00 AM,1900,16,Foothill,1656,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,NaN,8300 FOOTHILL BL,NaN,34.2597,-118.3137,3,740,2.0,31,0
659510,230615507,09/19/2023 12:00:00 AM,09/18/2023 12:00:00 AM,400,6,Hollywood,656,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,WILCOX,SANTA MONICA,34.0907,-118.3310,1,626,1.0,33,1

In [14]:
crimes["6_LUGAR_CRIMEN"] = crimes["Premis Cd"]

crimes.sample(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Cross Street,LAT,LON,1_HORARIO,2_TIPO_CRIMEN,3_VICTIMA_SEXO,4_VICTIMA_EDAD,5_HAY_ARMA,5_LUGAR_CRIMEN,6_LUGAR_CRIMEN
22034,200306667,02/14/2020 12:00:00 AM,02/14/2020 12:00:00 AM,1900,3,Southwest,334,1,210,ROBBERY,...,NaN,34.0326,-118.3350,3,210,2.0,70,1,108.0,108.0
170161,201800695,05/08/2020 12:00:00 AM,05/08/2020 12:00:00 AM,1830,18,Southeast,1838,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,GRAPE ST,33.9406,-118.2369,3,230,2.0,19,1,101.0,101.0
406796,211318764,11/11/2021 12:00:00 AM,11/11/2021 12:00:00 AM,930,13,Newton,1324,1,510,VEHICLE - STOLEN,...,NaN,34.0206,-118.2541,2,510,5.0,0,0,101.0,101.0
19674,200510557,06/13/2020 12:00:00 AM,06/13/2020 12:00:00 AM,140,5,Harbor,519,1,761,BRANDISH WEAPON,...,NaN,33.7917,-118.2482,1,761,1.0,21,1,101.0,101.0
676478,231605705,02/22/2023 12:00:00 AM,02/21/2023 12:00:00 AM,30,16,Foothill,1673,1,510,VEHICLE - STOLEN,...,NaN,34.2271,-118.3878,1,510,5.0,0,0,101.0,101.0
353338,211517180,11/08/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1700,15,N Hollywood,1547,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,NaN,34.1713,-118.3822,2,420,5.0,0,0,101.0,101.0
722400,231706173,02/26/2023 12:00:00 AM,02/19/2023 12:00:00 AM,1145,17,Devonshire,1793,2,354,THEFT OF IDENTITY,...,NaN,34.2237,-118.5501,2,354,2.0,32,0,501.0,501.0
302837,210618178,10/29/2021 12:00:00 AM,10/26/2021 12:00:00 AM,600,6,Hollywood,648,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,NaN,34.1000,-118.3113,1,745,4.0,0,0,108.0,108.0
281251,210213387,08/17/2021 12:00:00 AM,08/17/2021 12:00:00 AM,1920,2,Rampart,202,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,34.0888,-118.2881,3,626,1.0,32,1,101.0,101.0
221594,211610888,08/25/2021 12:00:00 AM,08/23/2021 12:00:00 AM,1930,16,Foothill,1621,1,310,BURGLARY,...,NaN,34.2648,-118.4311,3,310,2.0,34,0,501.0,501.0

In [19]:
crimes_studio = crimes[ ["1_HORARIO", "2_TIPO_CRIMEN", "3_VICTIMA_SEXO", "4_VICTIMA_EDAD", "5_HAY_ARMA", "6_LUGAR_CRIMEN"] ].dropna()

crimes_studio.head(10)

,1_HORARIO,2_TIPO_CRIMEN,3_VICTIMA_SEXO,4_VICTIMA_EDAD,5_HAY_ARMA,6_LUGAR_CRIMEN
0,3,624,1.0,36,1,501.0
1,1,624,2.0,25,1,102.0
2,2,845,4.0,0,0,726.0
3,2,745,1.0,76,0,502.0
4,1,740,4.0,31,0,409.0
5,1,121,1.0,25,1,735.0
6,2,442,2.0,23,0,404.0
7,1,946,4.0,0,0,726.0
8,1,341,2.0,23,0,502.0
9,3,341,4.0,0,0,203.0

In [23]:
X = crimes_studio[ ["1_HORARIO", "2_TIPO_CRIMEN", "3_VICTIMA_SEXO", "4_VICTIMA_EDAD", "6_LUGAR_CRIMEN"] ].values

X.shape

(811654, 5)

In [24]:
y = crimes_studio["5_HAY_ARMA"].values

y.shape

(811654,)

In [25]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()

clf.fit(X, y)

clf.score(X, y)

0.9724525475140885

In [29]:
clf.predict([
    [1, 624, 1, 28, 409]
])

array([1])