In [1]:
import pandas as pd

iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
X = iris[ ["sepal.length"] ].values

y = iris["petal.length"].values

X[:5], y[:5]

(array([[5.1],
        [4.9],
        [4.7],
        [4.6],
        [5. ]]),
 array([1.4, 1.4, 1.3, 1.5, 1.4]))

In [8]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

reg.fit(X, y)

reg.score(X, y)

0.7599546457725151

In [12]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(reg, X, y, scoring="r2")

scores

array([-51.52454692,   0.52866261,  -1.85363774,  -0.10127352,
        -1.87189524])

In [16]:
reg.predict([
    [5.1],
    [5.4],
    [6.5],
    [6.0],
])

array([2.37656482, 2.93409471, 4.97837099, 4.0491545 ])

In [15]:
iris[ ["sepal.length", "petal.length"] ]

     sepal.length  petal.length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]